@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


[data-theme='dark']{
  --grey-9: #141414;
  --grey-8: #292929;
  --grey-7: #3d3d3d;
  --grey-6: #525252;
  --grey-5: #666666;
  --grey-4: #858585;
  --grey-3: #a3a3a3;
  --grey-2: #c2c2c2;
  --grey-1: #e0e0e0;
  --primary-9: #040509;
  --primary-8: #12151d;
  --primary-7: #0c101b;
  --primary-6: #101624;
  --primary-5: #141b2d;
  --primary-4: #1F2A40;
  --primary-3: #727681;
  --primary-2: #a1a4ab;
  --primary-1: #d0d1d5;
  --greenAccent-9: #0f2922;
  --greenAccent-8: #1e5245;
  --greenAccent-7: #2e7c67;
  --greenAccent-6: #3da58a;
  --greenAccent-5: #4cceac;
  --greenAccent-4: #70d8bd;
  --greenAccent-3: #94e2cd;
  --greenAccent-2: #b7ebde;
  --greenAccent-1: #dbf5ee;
  --redAccent-9: #2c100f;
  --redAccent-8: #58201e;
  --redAccent-7: #832f2c;
  --redAccent-6: #af3f3b;
  --redAccent-5: #db4f4a;
  --redAccent-4: #e2726e;
  --redAccent-3: #e99592;
  --redAccent-2: #f1b9b7;
  --redAccent-1: #f8dcdb;
  --blueAccent-9: #151632;
  --blueAccent-8: #2a2d64;
  --blueAccent-7: #3e4396;
  --blueAccent-6: #535ac8;
  --blueAccent-5: #6870fa;
  --blueAccent-4: #868dfb;
  --blueAccent-3: #a4a9fc;
  --blueAccent-2: #c3c6fd;
  --blueAccent-1: #e1e2fe;

  --primary-main: var(--primary-5);
  --secondary-main: var(--greenAccent-5);
  --neutral-dark: var(--grey-7);
  --neutral-main: var(--grey-5);
  --neutral-light: var(--grey-1);
  --background-default: var(--primary-6);
  --box-shadow: var(--primary-9);
}

[data-theme='light']{
  --grey-1: #141414;
  --grey-2: #292929;
  --grey-3: #3d3d3d;
  --grey-4: #525252;
  --grey-5: #666666;
  --grey-6: #858585;
  --grey-7: #a3a3a3;
  --grey-8: #c2c2c2;
  --grey-9: #e0e0e0;
  --primary-1: #040509;
  --primary-2: #080b12;
  --primary-3: #0c101b;
  --primary-4: #f2f0f0;
  --primary-5: #141b2d;
  --primary-6: #1F2A40;
  --primary-7: #727681;
  --primary-8: #d2d4da;
  --primary-9: #d0d1d5;
  --greenAccent-1: #0f2922;
  --greenAccent-2: #1e5245;
  --greenAccent-3: #2e7c67;
  --greenAccent-4: #3da58a;
  --greenAccent-5: #4cceac;
  --greenAccent-6: #70d8bd;
  --greenAccent-7: #94e2cd;
  --greenAccent-8: #b7ebde;
  --greenAccent-9: #dbf5ee;
  --redAccent-1: #2c100f;
  --redAccent-2: #58201e;
  --redAccent-3: #832f2c;
  --redAccent-4: #af3f3b;
  --redAccent-5: #db4f4a;
  --redAccent-6: #e2726e;
  --redAccent-7: #e99592;
  --redAccent-8: #f1b9b7;
  --redAccent-9: #f8dcdb;
  --blueAccent-1: #151632;
  --blueAccent-2: #2a2d64;
  --blueAccent-3: #3e4396;
  --blueAccent-4: #535ac8;
  --blueAccent-5: #6870fa;
  --blueAccent-6: #868dfb;
  --blueAccent-7: #a4a9fc;
  --blueAccent-8: #c3c6fd;
  --blueAccent-9: #e1e2fe;

  --primary-main: var(--primary-1);
  --secondary-main: var(--greenAccent-5);
  --neutral-dark: var(--grey-7);
  --neutral-main: var(--grey-5);
  --neutral-light: var(--grey-1);
  --background-default: #fcfcfc;
  --box-shadow: var(--blueAccent-8);
}


/* ------------------------------------- General ------------------------------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--grey-9);
}

::-webkit-scrollbar-thumb {
  transition: 0.3s ease;
  background: var(--primary-1);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-2);
}

html,
body{
  width: 100%;
  height: 100%;
  font-family: 'Source Sans 3', sans-serif;
  background-color: var(--blueAccent-9);
  position: relative;
}

h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 14px;
}

#app{
  transition: margin-left 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 60px;
}

.container{
    padding: 16px;
    flex: 1;
    height: 100%;
}

.container-active{
  margin-left: 350px;
}

.bottom-container{
  width: 100%;
  height: 75vh;
  border: 1px solid var(--grey-1);
  box-shadow: 4px 4px 10px var(--box-shadow);
}

.slider{
  position: relative;
  background-color: var(--greenAccent-4);
  height: 30px;
  width: 60px;
  border-radius: 25px;
}

.slider span{
  position: absolute;
  height: 28px;
  width: 28px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--primary-9);
  transform: translateX(100%);
  transition: transform 0.5s ease;
  cursor: pointer;
}
.slider-disabled{
  background-color: var(--neutral-main);
}

.slider-disabled span{
  transform: translateX(0);
}


/* ------------------------------------- Topbar ------------------------------------- */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 16px;
  height: 60px;
  background-color: var(--background-default);
  box-shadow: 2px 0 10px var(--box-shadow);
  z-index: 999;
  position: fixed;
  width: 100%;
}

.nav-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.nav-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.nav-brand > h2{
  color: var(--grey-1);
  cursor: pointer;
}

/* hamburger */

.hamburger{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.line{
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--grey-1);
}

/* nav list */

.nav-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-list-item{
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-1);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
}

.nav-list-item:hover{
  background-color: var(--primary-4);
}

.notifications-box{
  position: absolute;
  top: 65px;
  left: -80px;
  background-color: var(--primary-4);
  z-index: 998;
  border-radius: 5px;
  width: 150px;
  min-height: 175px;
  max-height: 175px;
  box-shadow: 3px 3px 10px var(--box-shadow);
  display: none;
  flex-direction: column;
}

.notifications-header{
  background-color: var(--background-default);
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}

.notifications-list{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
  overflow-y: scroll;
  height: 100%;
}

.notifications-list span{
  word-break: break-all;
  background-color:var(--background-default);
  padding: 5px;
  font-size: 14px;
}

.notifications-box-active{
  display: flex;
}

/* ------------------------------------- Sidebar ------------------------------------- */

.sidebar{
  position: fixed;
  width: 350px;
  height: 100vh;
  top: 60px;
  left: 0;
  background-color: var(--background-default);
  box-shadow: 0 10px 10px var(--box-shadow);
  z-index: 999;
  transition: transform 0.5s ease;
  transform: translateX(-350px);
}

.sidebar-active{
  transform: translateX(0);
}

.sidebar-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.sidebar-list-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  color: var(--grey-1);
  transition: hover 0.3s ease;
  cursor: pointer;
}

.sidebar-list h5{
  padding: 8px 16px;
  color: var(--grey-2);
}

.sidebar-list-item:hover{
  color: #868dfb;
}

.sidebar-list-item-active{
  color: #6870fa;
}

/* ------------------------------------- Header ------------------------------------- */

.header-container{
  margin-bottom: 30px;
}

.header-container h2{
  font-weight: bold;
  color: var(--grey-1);
  margin-bottom: 5px;
}

.header-container h5{
  color: var(--greenAccent-4);
}

/* ------------------------------------- Dashboard ------------------------------------- */

.dashboard-grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
  'col1 col1 col1 col2 col2 col2 col3 col3 col3 col4 col4 col4'
  'col5 col5 col5 col5 col5 col5 col5 col5 col6 col6 col6 col6'
  'col7 col7 col7 col7 col8 col8 col8 col8 col6 col6 col6 col6';
  width: 100%;
  gap: 16px;
}

.db-column{
  padding: 16px;
  height: fit-content;
  background-color: var(--background-default);
  box-shadow: 2px 2px 5px var(--box-shadow);
}

.statbox-container{
  display: flex;
  flex-direction: column;
}
.statbox-container > div{
  display: flex;
  justify-content: space-between;
}

.statbox-container h5{
  color: var(--greenAccent-6);
}
.statbox-container h4{
  font-weight: bold;
  color: var(--grey-1);
}

.dashboard-grid-2{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas :'col1 col2''col3 col4''col5 col5''col6 col6''col7 col8';
  width: 100%;
  gap: 12px;
}

.dashboard-grid-3{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas :'col1 col2''col3 col4''col5 col5''col6 col6''col7 col7''col8 col8';
  width: 100%;
  gap: 12px;
}

.column-header{
  display: flex;
  justify-content: space-between;
}

.column-header h5, .db-chart-container > h6{
  color: var(--grey-1);
  font-weight: 600;
}
.column-header h3, .db-chart-container > h5{
  color: var(--greenAccent-6);
}

.db-chart-container{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.transaction-list{
  height: 505px;
  overflow-y: scroll;
}

.transaction-list{
  display: flex;
  flex-direction: column;
  background-color: var(--background-default);
  gap: 2px;
}

.transaction-container{
  padding:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-4);
}

.transaction-container h5{
  color: var(--greenAccent-5);
}

.transaction-container h6, .transaction-container h4{
  color: var(--grey-1);
}

/* ------------------------------------- Form ------------------------------------- */

.user-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-form > div:first-child{
  display: flex;
  gap: 20px;
}

.input-field{
  flex: 1;
}

.input-field input{
  width: 100%;
  padding: 20px 12px;
  outline: none;
  background-color: var(--background-default);
  color: var(--grey-1);
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--grey-5);
  box-shadow: 2px 2px 5px var(--box-shadow);
}

.input-field input::placeholder{
  color: var(--grey-2);
}

.user-form input[type='submit']{
  align-self: flex-end;
  padding: 12px;
  background-color: var(--secondary-main);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 2px 2px 8px var(--box-shadow);
}

.user-form input[type='submit']:hover{
  background-color: var(--greenAccent-4);
}

.form-error{
  color: var(--redAccent-6);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* ------------------------------------- FAQ ------------------------------------- */

.question-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordian{
  background-color: var(--background-default);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--box-shadow);
}

.accordian-question{
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordian-question h3{
  color: var(--greenAccent-3);
}

.accordian-question button{
  background-color: transparent;
  border: none;
  color: var(--grey-1);
  transform: rotate(90deg);
  transition: 0.5s ease;
}

.accordian-question button svg{
  font-size: 32px;
}

.accordian-active button{
  transform: rotate(-90deg);
}

.accordian-answer{
  padding: 0 24px;
  color: var(--grey-1);
  max-height: 0;
  overflow: hidden;
  transition: max-height, padding 0.5s ease;
  border-radius: 0 0 5px 5px;
  background-color: var(--primary-4);
}

.accordian-active .accordian-answer{
  padding: 24px 24px 16px 24px;
  max-height: fit-content;
}

.faq-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
  background-color: var(--background-default);
  box-shadow: 2px 2px 10px var(--box-shadow);
  padding: 16px;
  border-radius: 5px;
}

.faq-search h1{
  color: var(--grey-1);
}

.faq-search h4{
  color: var(--greenAccent-4);
}

/* search box */

.search-box {
  display: flex;
  background-color: var(--primary-4);
  padding: 16px 24px;
  border-radius: 25px;
  width: 500px;
}

.search-box > input{
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--grey-1);
  flex: 1;
  font-size: 20px;
}
.search-box > button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--grey-1);
}

/* ------------------------------------- Team ------------------------------------- */


.team-table-cell{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 4px;
}

.team-table-cell h5, .team-table-cell svg{
  color: var(--grey-1);
  margin-left: 5px;
}


/* ------------------------------------- Footer ------------------------------------- */

footer{
  display: flex;
  justify-content: center;
  color: var(--grey-5);
  padding-bottom: 5px;
}

/* ------------------------------------- Calendar ------------------------------------- */

.calendar-container{
  display: flex;
  gap: 16px;
  height: 75vh;
}

.todo-list-container{
  flex: 2;
}

.todo-list-container{
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--box-shadow);
  background-color: var(--background-default);
  width: 100%;
}

.todo-list-container h2{
  color: var(--greenAccent-5);
  border-bottom: 1px solid var(--greenAccent-5);
}

.todo-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  background-color: var(--primary-4);
  flex: 1;
  border-radius: 5px;
  padding: 16px;
  overflow-y: scroll;
}

.todo-item{
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--background-default);
}

.todo-right{
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px 24px;
  word-wrap: break-word;
  word-break: break-all;
}

.todo-right h6{
  color: var(--grey-2);
  font-style: italic;
}

.todo-right h4{
  color: var(--blueAccent-5);
}

.todo-left{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  padding: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo-left input[type='checkbox']{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.todo-left span{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin: 5px 10px;
  border-radius: 50%;
  background-color:white;
  border: 1px solid var(--neutral-dark);
  box-shadow: 3px 3px 10px var(--box-shadow) inset,
    -3px -3px 10px var(--box-shadow) inset;
}

.todo-left input:checked ~ span{
  background-color: var(--blueAccent-6);
}

.create-todo-container{
  flex: 1;
  background-color: var(--background-default);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px var(--box-shadow);
}

.create-todo-container > h2{
  align-self: center;
  color: var(--grey-1);
  margin-bottom: 24px;
}

.create-todo-container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-todo-container > form > input{
  background-color: var(--primary-4);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  color: var(--grey-1);
}

.create-todo-container > form > input[type='submit']{
  align-self: flex-end;
  background-color: var(--greenAccent-4);
  border-radius: 5px;
  font-size: 16px;
  color: var(--grey-9);
}

.todo-options{
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.todo-options label{
  display: flex;
  align-items: center;
  position: relative;
}

.todo-options input[type='checkbox']{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.todo-options span{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid var(--grey-1);
  background-color: white;
}

.todo-options input[type='checkbox']:checked ~ span{
  background-color: var(--redAccent-5);
}

.todo-options h6{
  padding-left: 32px;
  align-self: center;
  color: var(--grey-1);
  padding-right: 16px;
  border-right: 1px solid var(--grey-1); 
}

.todo-options svg{
  color: var(--grey-1);
  cursor: pointer;
}

.todo-options svg:hover{
  color: var(--redAccent-5);
}

.calendar-container-2{
  flex-direction: column;
}

/* ------------------------------------- Settings ------------------------------------- */

.settings-container{
  display: flex;
  flex-direction: column;
  background-color: var(--background-default);
  padding: 16px;
  box-shadow: 2px 2px 10px var(--box-shadow);
}

.settings-container > div{
  margin-bottom: 32px;
}

.settings-container > div > h2{
  color: var(--greenAccent-4);
}

.settings-container > div > h4{
  color: var(--grey-1);
  margin-bottom: 16px;
}

.settings-container hr{
  margin: 10px 0 20px 0;
}

.theme-selector{
  flex: 1;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.theme-selector > div{
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 366px;
  background-color: var(--primary-4);
  border-radius: 5px;
  cursor: pointer;
}

.theme-selector div img{
  flex: 1;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}

.theme-selector div h5{
  color: var(--grey-1);
  padding: 5px 10px;
}

.theme-active{
  border: 1px solid var(--grey-1);
}

.s-notifications > div > h4{ 
  color: var(--grey-1);
}

.s-notifications > div{
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ------------------------------------- Media Queries ------------------------------------- */

@media screen and (max-width: 800px) {
  .nav-left{
    gap: 40px;
  }

  .container-active{
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .nav-brand{
    display: none;
  }
  .search-box {
    display: flex;
    background-color: var(--primary-4);
    padding: 16px 24px;
    border-radius: 25px;
    width: 100%;
  }
}